.fullscreen-img {
    max-height: 85vh;
    max-width: 100%;
    object-fit: contain;
}

.perk-icon,
.stat-icon {
    width: 80px;
    height: 80px;
}

.info-icon-big {
    height: 50px;
    width: 50px;

}

.info-icon {
    height: 40px;
    width: 40px;

}

.info-icon-small {
    height: 30px;
    width: 30px
}

.color-white {
    filter: invert(97%) sepia(54%) saturate(256%) hue-rotate(158deg) brightness(113%) contrast(100%);
}

.perk-card,
.stat-card {
    min-width: 120px;
}

@media screen and (max-width:768px) {

    .perk-icon,
    .stat-icon {
        width: 50px;
        height: 50px;
    }
}