@import "../../../assets/styles/common-vars.scss";


.weaponsbox{
    background: linear-gradient(180deg, rgba(30,37,55,1) 0%, rgba(71,88,131,1) 75%, rgba(86,106,157,1) 100%), linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%);
    height : 85svh;
    border-radius: 25px;
    z-index:1;
    overflow-y: scroll;
}

.form-input{
    position: relative;
}

.inputs-wrapper{
    height : 65svh;
    overflow-y: auto;
    overflow-x: hidden;
}

.inputs{
    flex : 1 0 0;
}


.cross{
    color : red;
    font-size: 24px;
}

.collectible-icon{
    max-width: 65px;

}

.timer-title{
    font-weight: 400;
    font-size: 22px;

}

.timer{
    font-weight: 300;
    font-size: 45px;
    letter-spacing: 3px;
}

.score small{
    font-weight: 300;
    font-size: 20px;
}

.score{
    font-size: 28px;
}

.modal-body{
    font-weight: 300;
}

.modal-title{
    font-weight: 400;
}

.bi-x{
    height: 1em;
    width : 1em;
}

.filters-desc{
    font-size: 12px;
}

.weapon-tooltip{
    border-radius: 15px;
    z-index: 5;
    position: absolute;
    transform: translate(-25%, -100%);
  
}
