<nav class="navbar navbar-expand-lg">
    <div class="container bg-transparent d-flex align-items-center">
        <div class="dropdown-2">
            <ul class="dropdown-menu">
                <li *ngFor="let lang of langService.localeList">
                    <a class="dropdown-item" routerLink="/{{lang.code}}/">
                        {{lang.label}}</a>
                </li>
            </ul>

        </div>
        <a class="text-center mx-auto" routerLink="/">
            <img src="assets/img/d2g-logo.png" alt="Destiny 2 Guessr" class="brand-logo" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
            style="color: white; border-color: white!important;">
            <i class="bi bi-list"></i>
        </button>
        <div class="collapse navbar-collapse text-center mx-auto my-4 py-2" id="navbarNav">
            <ul class="navbar-nav align-items-center">
                <a class="navbar-item text-center mx-4 p-2" *ngFor="let item of this.utilsService.navbarContent"
                    [routerLink]="item.link" routerLinkActive="active">
                    <div class="navbar-link">{{item.title}}</div>
                </a>

                <a class="navbar-item text-center mx-4 p-2 pointer" (click)="login()"
                    *ngIf="!authService.currentAccount">
                    <div class="navbar-link" i18n>Se connecter</div>
                </a>

                <li class="dropdown navbar-item text-center mx-4 p-2" *ngIf="authService.currentAccount">
                    <div class="navbar-link dropdown-toggle" id="accountDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" i18n>
                        Mon compte
                    </div>
                    <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                        <li class="dropdown-header">
                            {{ authService.currentAccount.displayName }}<br>
                            {{ utilsService.getPlatformName(authService.currentAccount.membershipType) }}<br>
                            ID {{ authService.currentAccount.membershipId }}
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <div class="dropdown-item text-dark pointer" (click)="authService.startBungieLogin()" i18n>
                                Changer de compte</div>
                            <div class="dropdown-item text-dark pointer" routerLink="/account-settings" i18n>Paramètres
                            </div>
                            <div class="dropdown-item text-danger pointer" (click)="logout()" i18n>Se déconnecter</div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<button data-bs-toggle="modal" data-bs-target="#redirectionModal" class="d-none"></button>
<div class="modal fade" tabindex="-1" data-bs-backdrop="static" id="redirectionModal"
    aria-labelledby="redirectionModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="redirectionModalLabel" i18n>Redirection vers Bungie.net </h1>
            </div>
            <div class="modal-body" i18n>
                Vous allez être redirigé vers le site de Bungie...
            </div>
        </div>
    </div>
</div>