concurrent-log-handler==0.9.29
crispy-bootstrap5==2026.9
django==6.0.1
django-configurations==2.5.1
django-cors-headers==4.9.0
django-filter==26.1
django-log-request-id==2.1.2
django-rest-framework==0.1.0
djangorestframework==3.18.1
djangorestframework-simplejwt==5.5.1
drf-yasg==1.21.15
gunicorn==23.0.0
mock==5.2.0
psycopg2-binary==2.9.13
pytest-cov==7.1.0
pytest-django==4.14.0
python-dotenv==1.2.3
requests==2.32.4
ruff==0.16.8
social-auth-app-django==5.5.1
traitlets==5.16.1
whitenoise==6.12.0
dj-database-url==3.1.2
django-debug-toolbar==5.2.0
pytest==9.1.1