concurrent-log-handler==0.9.28
crispy-bootstrap5==2025.6
django==5.2.4
django-configurations==2.5.1
django-cors-headers==4.7.0
django-filter==25.1
django-log-request-id==2.1.0
django-rest-framework==0.1.0
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.0
drf-yasg==1.21.10
gunicorn==23.0.0
mock==5.2.0
psycopg2-binary==2.9.10
pytest-cov==6.2.1
pytest-django==4.11.1
python-dotenv==1.1.1
requests==2.32.4
ruff==0.12.3
social-auth-app-django==5.5.1
traitlets==5.14.3
whitenoise==6.9.0
dj-database-url==3.0.1
gunicorn==23.0.0
django-debug-toolbar==5.2.0