<footer class="container-fluid bg-transparent pb-5">
    <div class="container d-flex justify-content-between align-content-center align-items-baseline">


        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false" i18n> Langue </button>
            <ul class="dropdown-menu">
                <li *ngFor="let lang of availableLangs" class="pointer">
                    <a class="dropdown-item d-flex align-items-center" (click)="switchLang(lang.code)"
                        [ngClass]="{'active': lang.code === getCurrentLocaleID()}">

                        <img [src]="'https://flagcdn.com/w20/' + getFlagCode(lang.code).toLowerCase() + '.png'"
                            alt="{{lang.label}} flag" width="20" height="15"
                            style="margin-right: 8px; vertical-align: middle;">

                        <span>{{ lang.label }}</span> </a>
                </li>
            </ul>

        </div>

        <span class="text-center footer-text p-2">GUESSR
        </span>
        <span>
            <a class="footer-icon-link p-2" alt="GitHub" href="https://github.com/Yoannmont"> <i
                    class="bi bi-github"></i></a>
            <a class="footer-icon-link p-2 d-none" alt="LinkedIn"
                href="https://linkedin.com/in/yoann-monteiro-471321210/"><i class="bi bi-linkedin"></i></a>
        </span>
    </div>
</footer>