@use "sass:math";

@function multiple-box-shadow($n) {
    $value: #{math.random(2000)}px #{math.random(2000)}px #FFF;

    @for $i from 2 through $n {
        $value: #{$value}, #{math.random(2000)}px #{math.random(2000)}px 1.5px rgba(255, 255, 255, 0.6);
    }

    @return $value;
}


$shadows-big : multiple-box-shadow(400);
$shadows-medium : multiple-box-shadow(400);
$shadows-small : multiple-box-shadow(400);


#stars-1 {
    width: 1px;
    height: 1px;
    box-shadow: $shadows-small;
    animation: 5s ease-in-out 0s infinite animationStars;
    background: transparent;
    z-index: -1;
    position: absolute;
}

#stars-2 {
    width: 2px;
    height: 2px;
    box-shadow: $shadows-medium;
    animation: 6s ease-in-out 2s infinite animationStars;
    background: transparent;
    z-index: -1;
    position: absolute;
}

#stars-3 {
    width: 3px;
    height: 3px;
    box-shadow: $shadows-big;
    animation: 7s ease-in-out 4s infinite animationStars;
    background: transparent;
    z-index: -1;
    position: absolute;
}



@keyframes animationStars {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    50% {
        opacity: 1;
        transform: translateY(15px);
    }

    100% {
        opacity: 0;
        transform: translateY(30px);
    }
}

.fadeIn-animation {
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: -10ms, -10ms;
    animation-name: fadeIn;
    animation-duration: 1000ms;
    animation-delay: -10ms, -10ms;
    animation-fill-mode: forwards;
    opacity: 0;
}


.vertical-fadeIn-animation {
    -webkit-animation-name: fadeIn, verticalMovement;
    -webkit-animation-duration: 800ms, 800ms;
    -webkit-animation-fill-mode: forwards, forwards;
    -webkit-animation-delay: -10ms, -10ms;
    animation-name: fadeIn, verticalMovement;
    animation-delay: -10ms, -10ms;
    animation-duration: 800ms, 800ms;
    animation-fill-mode: forwards, forwards;
    opacity: 0;
}

.vertical-fadeIn-animation-reverse {
    -webkit-animation-name: fadeIn, verticalMovement-reverse;
    -webkit-animation-duration: 800ms, 800ms;
    -webkit-animation-fill-mode: forwards, forwards;
    -webkit-animation-delay: -10ms, -10ms;
    animation-name: fadeIn, verticalMovement-reverse;
    animation-delay: -10ms, -10ms;
    animation-duration: 800ms, 800ms;
    animation-fill-mode: forwards, forwards;
    opacity: 0;
}

.shining-wrapper {
    height: fit-content;
    width: fit-content;
}

.shine {
    position: relative;
    overflow: hidden;

    &::before {
        background: linear-gradient(to right,
                rgba(#fff, 0) 0%,
                rgba(#fff, 0.3) 100%);
        content: "";
        display: block;
        height: 100%;
        left: -100%;
        position: absolute;
        top: 0;
        transform: skewX(-45deg);
        width: 50%;
        z-index: 3;
    }

    &::before {
        animation: 3s infinite shine;
    }

    @keyframes shine {
        70% {
            left: -100%;
        }

        100% {
            left: 125%;
        }
    }
}


@keyframes verticalMovement {
    0% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes verticalMovement-reverse {
    0% {
        transform: translateY(30px);
    }


    100% {
        transform: translateY(0px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.horizontal-appearance-wrapper {
    font-weight: 800;
    text-transform: none;
    color: transparent;
    font-size: 0px;
}

.horizontal-appearance-1,
.horizontal-appearance-2 {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.horizontal-appearance-1::after,
.horizontal-appearance-2::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    left: 0;
    top: 0;
    background: white;
}

.horizontal-appearance-wrapper {
    -webkit-animation-name: txt-appearance;
    -webkit-animation-delay: 750ms;
    -webkit-animation-fill-mode: forwards;
    animation-name: txt-appearance;
    animation-delay: 750ms;
    animation-fill-mode: forwards;
}



.horizontal-appearance-1::after {
    animation: slide-in 500ms ease-out forwards, slide-out 500ms 750ms ease-out forwards;
}

.horizontal-appearance-2::after {
    animation: slide-in 500ms 250ms ease-out forwards, slide-out 500ms 1000ms ease-out forwards;
}

@keyframes slide-in {
    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-out {
    100% {
        transform: translateX(calc(100% + 1px));
    }
}

@keyframes txt-appearance {
    100% {
        color: white;
    }
}

.new-item-effect {
    --item-border-color: white;
}


.new-item-effect::before {
    content: "";
    z-index: 1;
    width: 65px;
    height: 65px;


    position: absolute;
    border: 1px solid var(--item-border-color);
    animation: 2000ms linear 2000ms infinite newCollectible;
}

.new-item-effect.Exotic-border {
    --item-border-color: #FFC800;
}

.new-item-effect.Legendary-border {
    --item-border-color: #9855bc;
}

.new-item-effect.Rare-border {
    --item-border-color: #70a5e6;
}


.new-item-effect.Common-border {
    --item-border-color: #4fa25f
}

.new-item-effect.Basic-border {
    --item-border-color: grey
}


@keyframes newCollectible {
    0% {
        opacity: 1;
        transform: scale(0.33) rotate(45deg);
    }

    38% {
        opacity: 0.7;
        transform: scale(1.2) rotate(45deg);
    }

    60% {
        opacity: 0;
        transform: scale(1.5) rotate(45deg);
    }

    100% {
        opacity: 0;
    }
}