@import "common-vars.scss";


.pointer{
    cursor : pointer;
}

.navbar-link {
    font-size: 20px;
    font-family: Futura;
    font-weight: 500;
    transition: color $transition-duration;
    text-transform: uppercase;
}

.navbar-item {
    text-decoration: none;
    color: white;
    transition: background-color $transition-duration;
    border-radius: 15px;
}

.navbar-item:hover {
    background-color: white !important;
    .navbar-link {
        color: black;
    }
}

.hero-phrase{
    font-size: 40px;
    font-weight: 300;
}

.hero-text{
    font-size: 24px;
    font-weight: 200;
}

.footer-icon-link {
    text-decoration: none;
    font-size: $small-font-size-d;
    color: white;
    border-radius: 15px;
    transition: background-color 200ms, color 200ms;
    height: fit-content;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    color: black;

    background-color: white;
}

.section-title{
    text-transform: uppercase;
}

.section-title, .subsection-title{
    font-family: Futura;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 3px;
}



.blank-space{
    display: block;
    min-height : 7svh;
    
}
.separator::before{
    content:"";
    background-color: gray;
    width :165px;
    height : 0.06rem;
    display: block;
    position: relative;
    left:calc(50% - 82.5px)
}

.about-link {
    font-family: Futura;
    text-transform: uppercase;
    font-size: $small-font-size-d;
    font-weight: 400;
    text-decoration: none;
    color: white;
    transition: background-color 200ms, color 200ms;
    border-radius: 15px;
}

.about-link:hover,
.about-link:focus {
    background-color: white;
    color: black;

}


@media screen and (max-width:768px){
    .hero-phrase{
        font-size: 25px;
    }
    .hero-text{
        font-size: 18px;
    }
}


@media screen and (min-width:992px) {
    .full-screen-sidebar{
        position: relative;
        width: calc(100% - 220px);
        margin-left : 0;
    }
}