@import "common-vars.scss";

.collectible-icon{
    width: 80px;
    height: auto;
    border : 3px solid white;
    position: relative;
    z-index: 2;
}

.Exotic, .Exotique{
    color : #FFC800
}

.Exotic, .Legendary, .Exotique, .Légendaire {
    font-size: 20px;
    font-weight: 300;
}



.smallDamageType{
    width: 24px;
    height: 24px;
}

.categoryItalic{
    font-size: 20px;
    font-weight:400;
    font-style: italic;
    color : $category-color;
}
