$separation-bar-color : #6b6b6b;
$separation-bar-width : 0.06rem;

$thick-separation-bar-width : 0.11rem;


$transition-duration : 100ms;

$font-size-d: 30px;
$font-size-m: 18px;

$small-font-size-d : 21px;
$small-font-size-m : 13px;


$item-icon-game-size : 65px;

$category-color : #c1c1c1;
$exotic-color: #FFC800;

$blue-color: #475584