@font-face {
    font-family: Futura;
    font-weight: 400;
    src: url(../font/futura/FUTURA45LIGHT.woff2);
}

@font-face {
    font-family: Futura;
    font-weight: 500;
    src: url(../font/futura/FUTURA55REGULAR.woff2);
}

@font-face {
    font-family: "Neue Haas Grotesk Display Pro";
    src: url(../font/NeueHaasGrotesk/NeueHaasDisplay-XThin.woff2) format(woff2);
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: "Neue Haas Grotesk Display Pro";
    src: url(../font/NeueHaasGrotesk/NeueHaasDisplay-Light.woff2) format(woff2);
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: "Neue Haas Grotesk Display Pro";
    src: url(../font/NeueHaasGrotesk/NeueHaasDisplay-Roman.woff2) format(woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Neue Haas Grotesk Display Pro";
    src: url(../font/NeueHaasGrotesk/NeueHaasDisplay-Mediu.woff2) format(woff2);
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: "Epoca Pro";
    src: url(../font/epocapro-mediumitalic-maisfontes.ce42/epocapro-mediumitalic.woff2);
}