.textbox {
    background: linear-gradient(180deg, rgba(30, 37, 55, 1) 0%, rgba(71, 88, 131, 1) 75%, rgba(86, 106, 157, 1) 100%), linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
    border-radius: 25px;
    height: calc(100svh - 45px - 32px - 30px);
    border: 2px solid white;
}

.toggleButton {
    background-color: rgba(30, 33, 45, 1);
    margin-left: -1px;
}

.section-title {
    margin-left: 20px;
}

.btn-home {
    font-size: 30px;
    font-weight: 300;
    max-width: 250px;
    height: auto;
    border-radius: 25px;
    color: #4b4b4b;
    letter-spacing: 2.5px;
    background-color: white;
    transition: background-color 100ms color 100ms;

    &:hover {
        background-color: #4b4b4b;
        color: white;
    }
}

@media screen and (max-width:768px) {
    .btn-home {
        font-size: 18px;
        max-width: 150px;
    }

    .section-title {
        font-size: 22px;
    }
}