.item-icon {
    width: 72px;
    height: auto;
    border: 3px solid white;
    position: relative;
    z-index: 2;
}

.item-icon,
.item-icon-lg {
    border: 3px solid white;
}


.item-icon {
    max-width: 72px;
}

.item-icon-lg {
    max-width: 96px;

}

.Exotic {
    color: #FFC800
}

.Legendary {
    color: #9855bc;
    opacity: 1;
}

.Rare {
    color: #70a5e6;
}


.Common {
    color: #4fa25f
}

.Basic {
    color: grey
}




.Exotic,
.Legendary,
.Rare,
.Common,
.Basic {
    font-size: 20px;
    font-weight: 300;
}

.flavorText {
    font-family: "Epoca Pro";
}


.smallDamageType {
    width: 20px;
    height: 20px;
}

.categoryItalic {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    color: #c1c1c1;
}

@media screen and (max-width:768px) {

    .Exotic,
    .Legendary,
    .Exotique,
    .Légendaire,
    .Exotisch,
    .Excepcional {

        font-size: 18px;
        font-weight: 300;
    }


}