.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1214;
    border-radius: 10px;
    background-color: #616881f5;
}

.title {
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 18px;
}