.loading-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    z-index: 1214;
    border-radius: 10px;
    background-color: #616881f5;
}

.title {
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 18px;
}

.spinner-border {
    border-radius: 100%;
}